/* CSS file for help module */
.module-help {
  display: grid;
  gap: 2rem;
  line-height: 1.5;
}

.section-getting-started,
.section-faq,
.section-data-info {
  display: flex;
  flex-direction: column;
  /* background-color: hsl(0, 0%, 83%); */
}

.getting-started-header,
.faq-header,
.data-info-header {
  /* border: 1px solid red; */
  color: hsl(204, 83%, 35%);
}

/* section-getting-started------------------------------------- */
.getting-started-intro {
  /* border: 1px solid red; */
}

.getting-started-ol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1rem;
  /* border: 1px solid red; */
}

.getting-started-li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.getting-started-li p:nth-child(1) {
  /* color: hsl(204, 83%, 30%); */
  border-bottom: 1px solid hsl(0, 0%, 73%);
}

.getting-started-li p:nth-child(2) {
  /* color: blue; */
}

.getting-started-ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  padding: 0 2rem;
  /* border: 4px solid red; */
}

.getting-started-ul li {
  /* border: 4px solid green; */
}

/* section-faq---------------------------------------------------- */
.faq-ul {
  /* border: 4px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* padding: 0rem 1rem; */
  list-style-type: none;
}

.faq-ul li {
  /* border: 4px solid green; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faq-question {
  /* color: red; */
  border-bottom: 1px solid hsl(0, 0%, 73%);
}

.faq-answer {
  /* color: blue; */
}

/* section-data-info -----------------------------------------------*/
.data-info-intro {
  /* border: 4px solid green; */
}

.data-info-header-ul {
  color: hsl(204, 83%, 35%);
  padding: 0 1rem;
}

.data-info-ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style-type: none;
  padding: 0 1rem;
  /* border: 4px solid green; */
}

.data-info-li {
  /* border: 4px solid rgb(255, 0, 255); */
}

.data-info-li p:nth-child(1) {
  /* color: red; */
}

.data-info-li p:nth-child(2) {
  /* color: green; */
  padding-left: 1rem;
}
