/* CSS file for help module */
.module-help {
  display: grid;
  gap: 1rem;
}

.section-getting-started,
.section-faq,
.section-data-info,
.section-contact,
.section-feedback {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
  background-color: hsl(0, 0%, 83%);
}

/* section-getting-started */
.getting-started-header {
  /* border: 1px solid red; */
}

.getting-started-intro {
  /* border: 1px solid red; */
}

.getting-started-ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  /* border: 1px solid red; */
}

.getting-started-li {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  /* border: 1px solid green; */
}

.getting-started-li p:nth-child(1) {
  /* color: red; */
}

.getting-started-li p:nth-child(2) {
  /* color: blue; */
}

.getting-started-ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  padding: 0 2rem;
  /* border: 4px solid red; */
}

.getting-started-ul li {
  /* border: 4px solid green; */
}

/* section-faq */
.faq-header {
  /* border: 4px solid red; */
}

.faq-ul {
  /* border: 4px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 2rem;
}

.faq-ul li {
  /* border: 4px solid green; */
}

.faq-question {
  /* color: red; */
}

.faq-answer {
  /* color: blue; */
}

/* section-data-info */
.data-info-header {
  /* border: 4px solid red; */
}

.data-info-intro {
  /* border: 4px solid green; */
}

.data-info-header-ul {
  /* border: 4px solid red; */
}

.data-info-ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0rem 2rem;
  /* border: 4px solid green; */
}

.data-info-li {
  /* border: 4px solid rgb(255, 0, 255); */
}

.data-info-li p:nth-child(1) {
  /* color: red; */
}

.data-info-li p:nth-child(2) {
  /* color: green; */
}
