@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 12px;
  --btn-bg-color: hsl(120, 89%, 26%);
  --btn-bg-color-hover: hsl(120, 89%, 20%);
}

html,
body {
  height: 100%;
}

body {
  min-height: auto;
  font-family: "Montserrat", sans-serif;
  /* border: 2px solid blue; */
}

.main-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  /* border: 2px solid red; */
}

.header,
.main,
.footer {
  padding: 30px;
  /* border: 2px solid red; */
}

/* header section ===================================================*/
.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* background-color: rgb(204, 204, 204); */
  /* border-bottom: 1px solid hsl(0, 0%, 65%); */
}

.header-figure {
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
  gap: 0.2rem;
  /* border: 1px solid red; */
}

.header-img {
  height: 20px;
  /* border: 2px solid blue; */
}

.header-caption {
  /* align-self: end; */
}

.navbar {
  grid-column: 2 / 3;
  justify-self: end;

  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* border: 2px solid rgb(19, 121, 96); */
}

.nav-menu-button {
  display: flex;
  align-items: center;
  gap: 4px;

  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;

  border: none;
  color: black;
  background-color: white;
  /* background-color: var(--btn-bg-color); */
  border: 1px solid rgb(194, 194, 194);
}

.nav-menu-button:hover {
  background-color: hsl(0, 0%, 95%);
}

/*  */
.kebab-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2px;
  gap: 3px;

  width: 20px;
  height: 20px;
  /* border: 1px solid rgb(27, 69, 204); */
}

.dot {
  width: 100%;
  height: 2px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 29%);
}

.nav-registration-button {
  border: 1px solid rgb(194, 194, 194);
  background-color: white;
  transition: background-color 0.3s ease;
}

.nav-registration-button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 95%);
}

.nav-help-button {
  border: 1px solid hsl(0, 0%, 76%);
  background-color: hsl(0, 0%, 100%);
  transition: background-color 0.3s ease;
}

.nav-help-button:hover {
  background-color: hsl(0, 0%, 95%);
}

.nav-help-button {
  cursor: pointer;
}
/*  */

.nav-ul {
  display: flex;
  flex-direction: column;
  /* gap: 0.3rem; */

  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  box-shadow: 2px 2px 4px grey;
  background-color: white;
  border: 1px solid hsl(0, 0%, 68%);
}

.nav-item {
  /* border: 2px solid red; */
  width: 100%;
}

.nav-item:hover {
  /* color: white;
  background-color: rgb(16, 163, 23); */
}

.nav-link {
  /* border: 2px solid red; */
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 4px 6px;
  color: black;
}

.nav-link:hover {
  color: white;
  background-color: rgb(10, 124, 10);
}

.nav-link:visited {
  /* color: hsl(0, 0%, 10%); */
}

.header-form {
  grid-column: 1 / 3;
  /* border: 2px solid red; */
}

.form-input {
  /* border: 1px solid red; */
  padding: 0.2rem 0.3rem;
}

.btn-submit {
  color: white;
  background-color: var(--btn-bg-color);
  padding: 0.3rem 0.8rem;
  border: none;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: var(--btn-bg-color-hover);
}

/* main section ========================================================= */
.main {
  grid-area: main;
  /* border: 2px solid rgb(11, 168, 72); */
  background-color: rgb(216, 216, 216);
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  /* border: 2px solid red; */
}

.header-cards {
  grid-column: 1 / -1;
  /* border: 2px solid blue; */
}

.position-container {
  position: relative;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
  height: 100%;

  cursor: pointer;
  padding: 1rem 0rem;
  text-align: center;
  background-color: white;
  /* border-radius: var(--border-radius); */
  border-radius: 4px;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-dimmed {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  /* border: 2px solid red; */
}

.form-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;

  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  z-index: 10;
  cursor: pointer;

  border-radius: var(--border-radius);
  background-color: hsl(0, 0%, 100%);
}

/* if form-data doesn't have enough space to be placed under tile */
.on-top {
  top: 0;
  transform: translateY(-101%);
}

.btn-close-form {
  border: none;
  margin-left: auto;
  padding: 4px;
  cursor: pointer;
  background-color: hsl(0, 0%, 87%);
}

.btn-close-form:hover {
  /* color: white; */
  background-color: hsl(0, 1%, 72%);
}

.fa-times {
}

.ul-form {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-item {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.2rem;
}

.list-strong {
}

.list-span {
}

.container-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
}

/* ================================================================ */
.btn-excel,
.btn-pdf,
.btn-previous,
.btn-forward {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(120, 6%, 90%);
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.btn-excel,
.btn-pdf {
}

.btn-previous,
.btn-forward {
  gap: 0.5rem;
}

.btn-excel:hover,
.btn-pdf:hover,
.btn-previous:hover,
.btn-forward:hover {
  background-color: hsl(0, 0%, 85%);
}

.btn-excel {
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
}

.fa-file-excel {
  color: green;
}

.btn-pdf {
  /* grid-column: 1 / 2;
  grid-row: 2 / 3; */
}

.fa-file-pdf {
  color: red;
}

.btn-previous {
}

.btn-forward {
}

/* ===================================================================== */

.card-header,
.card-description,
.card-added-info {
  padding: 0rem 1rem;
  width: 100%;
}

.card-header {
  /* border: 1px solid red; */
}

.card-description {
  /* border: 1px solid blue; */
}

.card-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  /* border-radius: var(--border-radius); */
}

.card-added-info {
  /* border: 1px solid blue; */
}

.footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  /* background-color: rgb(216, 216, 216); */
  /* border-top: 1px solid hsl(0, 0%, 65%); */
}

.navbar-footer {
  /* border: 2px solid red; */
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  list-style: none;
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-item {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-link {
  /* border: 2px solid rgb(0, 4, 255); */
  color: black;
  text-decoration: none;
  padding: 1px 6px;
}

.footer-link:hover {
  box-shadow: 2px 2px 2px rgb(150, 150, 150);
}

/* .footer-link:visited {
  color: hsl(0, 0%, 10%);
} */

.footer-legal {
  display: grid;
  grid-template-columns: auto auto;
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-version {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-copy {
  justify-self: right;
  /* border: 2px solid rgb(0, 4, 255); */
}

.hidden {
  display: none;
}

@media (max-width: 400px) {
  body {
    border: 1px solid red;
  }
}
