@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 8px;
  --btn-bg-color: hsl(120, 89%, 26%);
  --btn-bg-color-hover: hsl(120, 89%, 20%);
}

html,
body {
  height: 100%;
}

body {
  min-height: auto;
  font-family: "Montserrat", sans-serif;
  /* border: 2px solid blue; */
}

.main-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  /* border: 2px solid red; */
}

.header,
.main,
.footer {
  padding: 30px;
  /* border: 2px solid red; */
}

/* header section */
.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: rgb(204, 204, 204);
  /* border: 2px solid red; */
}

.header-figure {
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
  gap: 0.2rem;
  /* border: 1px solid red; */
}

.header-img {
  height: 20px;
  /* border: 2px solid blue; */
}

.header-caption {
  /* align-self: end; */
}

.navbar {
  grid-column: 2 / 3;
  justify-self: end;

  position: relative;
  /* border: 2px solid rgb(19, 121, 96); */
}

.nav-button {
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--btn-bg-color);
  /* border: 1px solid red; */
}

.nav-button:hover {
  background-color: var(--btn-bg-color-hover);
}

.nav-ul {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  box-shadow: 2px 2px 4px grey;
  background-color: white;
  border: 1px solid hsl(0, 0%, 68%);
}

.nav-item {
  /* border: 2px solid red; */
  width: 100%;
  padding: 2px 4px;
}

.nav-item:hover {
  background-color: hsl(0, 0%, 82%);
}

.nav-link {
  /* border: 2px solid red; */
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
}

.nav-link:visited {
  color: hsl(0, 0%, 10%);
}

.header-form {
  grid-column: 1 / 3;
  /* border: 2px solid red; */
}

.form-input {
  /* border: 1px solid red; */
  padding: 0.2rem 0.3rem;
}

.btn-submit {
  color: white;
  background-color: var(--btn-bg-color);
  padding: 0.3rem 0.8rem;
  border: none;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: var(--btn-bg-color-hover);
}

/* main section */
.main {
  grid-area: main;
  /* border: 2px solid rgb(11, 168, 72); */
}

.container-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
  /* border: 2px solid red; */
}

.header-tiles {
  grid-column: 1 / -1;
  /* border: 2px solid blue; */
}

.position-container {
  position: relative;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem 2rem;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.form-data {
  position: absolute;
  top: 101%;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;

  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  background-color: #f8f9fa;
}

.ul-form {
  list-style: none;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list-strong {
}

.list-span {
  justify-self: end;
}

.container-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.3rem;
}

.btn-excel,
.btn-pdf,
.btn-back,
.btn-forward {
  padding: 0.1rem;
}

.btn-excel {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.fa-file-excel {
  color: green;
}

.btn-pdf {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.fa-file-pdf {
  color: red;
}

.btn-back {
}

.btn-forward {
}

.tile:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.tile-header {
  /* border: 1px solid red; */
}

.tile-description {
  /* border: 1px solid blue; */
}

.tile-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius);
  /* padding: 1rem; */
  /* border: 1px solid red; */
}

.tile-added-info {
  /* border: 1px solid blue; */
}

.footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(216, 216, 216);
  /* border: 2px solid green; */
}

.navbar-footer {
  /* border: 2px solid red; */
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  list-style: none;
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-item {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-link {
  /* border: 2px solid rgb(0, 4, 255); */
  color: black;
  text-decoration: none;
}

.footer-link:visited {
  color: hsl(0, 0%, 10%);
}

.footer-legal {
  display: grid;
  grid-template-columns: auto auto;
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-version {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-copy {
  justify-self: right;
  /* border: 2px solid rgb(0, 4, 255); */
}

.hidden {
  display: none;
}

@media (max-width: 400px) {
  body {
    border: 1px solid red;
  }
}
