* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  /* border: 2px solid rgb(0, 26, 255); */
}

.header,
.main,
.footer {
  padding: 20px;
  /* border: 2px solid red; */
}

/* header section */
.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: rgb(204, 204, 204);
  /* background: linear-gradient(to right, hsl(204, 85%, 42%), hsl(212, 85%, 48%)); */
  /* border: 2px solid red; */
}

.header-figure {
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
  gap: 0.2rem;
  /* border: 1px solid red; */
}

.header-img {
  height: 20px;
  /* border: 2px solid blue; */
}

.header-caption {
  /* align-self: end; */
}

.navbar {
  grid-column: 2 / 3;
  justify-self: end;

  position: relative;
  /* border: 2px solid rgb(19, 121, 96); */
}

.nav-button {
  /* border: 1px solid red; */
}

.nav-ul {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: white;
  /* border: 2px solid red; */
}

.nav-item {
  /* border: 2px solid red; */
}

.nav-link {
  /* border: 2px solid red; */
  text-decoration: none;
}

.header-form {
  grid-column: 1 / 3;
  /* border: 2px solid red; */
}

.form-input {
  /* border: 1px solid red; */
}

/* main section */
.main {
  grid-area: main;
  /* border: 2px solid rgb(11, 168, 72); */
}

.container-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  /* border: 2px solid red; */
}

.header-tiles {
  grid-column: 1 / -1;
  /* border: 2px solid blue; */
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  padding: 1rem;
  border: 1px solid grey;
}

.tile-header {
  /* border: 1px solid red; */
}

.tile-description {
  /* border: 1px solid blue; */
}

.tile-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  /* border: 1px solid red; */
}

.tile-added-info {
  /* border: 1px solid blue; */
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(216, 216, 216);
  /* border: 2px solid green; */
}

.footer-links {
  /* border: 2px solid red; */
}

.footer-ul {
  list-style: none;
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-item {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-link {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-legal {
  display: grid;
  grid-template-columns: auto auto;
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-version {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-copy {
  justify-self: right;
  /* border: 2px solid rgb(0, 4, 255); */
}

.hidden {
  display: none;
}
