@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 12px;
  --btn-bg-color: hsl(120, 89%, 26%);
  --btn-bg-color-hover: hsl(120, 89%, 20%);
}

html,
body {
  height: 100%;
}

body {
  min-height: auto;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.main,
.footer {
  padding: 30px;
}

.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.header-figure {
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 30px;
}

.header-img {
  height: 20px;
  /* border: 2px solid blue; */
}

.header-caption {
  /* align-self: end; */
}

.navbar {
  grid-column: 2 / 3;
  justify-self: end;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 30px;
}

.nav-home-button,
.nav-menu-button,
.nav-registration-button,
.nav-help-button {
  min-width: 100px;
  cursor: pointer;

  padding: 0 0.5rem;
  border: 1px solid rgb(194, 194, 194);
  background-color: white;
  transition: background-color 0.3s ease;
}

.nav-home-button:hover,
.nav-menu-button:hover,
.nav-registration-button:hover,
.nav-help-button:hover {
  background-color: hsl(0, 0%, 95%);
}

.kebab-menu-container {
  position: relative;
}

/* because of kebab menu, css is a bit different */
.nav-menu-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0.5rem 1rem;
}

.kebab-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;

  width: 20px;
  height: 20px;
}

.dot {
  width: 100%;
  height: 2px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 29%);
}

.nav-ul {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 100%;
  left: 0%;

  list-style: none;
  box-shadow: 2px 2px 4px grey;
  background-color: white;
  /* border: 1px solid hsl(0, 0%, 68%); */
}

.nav-item {
  width: 100%;
}

.nav-item:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 68%);
}

.nav-link {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px 15px;
  color: black;
}

.nav-link:hover {
  background-color: hsl(0, 0%, 90%);
}

.nav-link:visited {
  /* color: hsl(0, 0%, 10%); */
}

.header-form {
  grid-column: 1 / 3;

  display: grid;
  justify-items: center;

  gap: 2rem;
  padding: 2rem 1rem;
  color: white;
  background-color: hsl(204, 83%, 35%);
}

.header-form-title {
  justify-self: center;
  font-size: 1.5rem;
}

.form-input-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 0rem 1rem;
}

.form-input {
  flex: 4;

  font-size: 1rem;
  padding: 0.3rem 0.4rem;
}

.btn-submit {
  flex: 1;
  padding: 0.3rem 0.8rem;
  border: none;
  cursor: pointer;

  font-size: 1rem;
  background-color: white;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: hsl(0, 0%, 85%);
}

.main {
  grid-area: main;
  background-color: white;
}

.footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  background-color: hsl(204, 83%, 35%);
}

.navbar-footer {
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  list-style: none;
}

.footer-item {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: hsl(0, 0%, 80%);
}

.footer-legal {
  display: grid;
  grid-template-columns: auto auto;
}

.footer-version {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-copy {
  justify-self: right;
  /* border: 2px solid rgb(0, 4, 255); */
}

.hidden {
  display: none;
}

.selected-btn {
  border-bottom: 1px solid transparent;
  box-shadow: 0 2px 0 0 hsl(204, 83%, 35%);
  z-index: 2;
}

@media (max-width: 400px) {
  body {
    border: 1px solid red;
  }
}
