@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 8px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  /* border: 2px solid blue; */
}

.main-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  /* border: 2px solid red; */
}

.header,
.main,
.footer {
  padding: 20px;
  /* border: 2px solid red; */
}

/* header section */
.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: rgb(204, 204, 204);
  /* background: linear-gradient(to right, hsl(204, 85%, 42%), hsl(212, 85%, 48%)); */
  /* border: 2px solid red; */
}

.header-figure {
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
  gap: 0.2rem;
  /* border: 1px solid red; */
}

.header-img {
  height: 20px;
  /* border: 2px solid blue; */
}

.header-caption {
  /* align-self: end; */
}

.navbar {
  grid-column: 2 / 3;
  justify-self: end;

  position: relative;
  /* border: 2px solid rgb(19, 121, 96); */
}

.nav-button {
  background-color: hsl(120, 89%, 26%);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  /* border: 1px solid red; */
}

.nav-ul {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.3rem;
  background-color: white;
  border: 1px solid hsl(0, 0%, 68%);
}

.nav-item {
  /* border: 2px solid red; */
}

.nav-link {
  /* border: 2px solid red; */
  color: black;
  text-decoration: none;
}

.nav-link:visited {
  color: hsl(0, 0%, 10%);
}

.header-form {
  grid-column: 1 / 3;
  /* border: 2px solid red; */
}

.form-input {
  /* border: 1px solid red; */
}

/* main section */
.main {
  grid-area: main;
  /* border: 2px solid rgb(11, 168, 72); */
}

.container-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  /* border: 2px solid red; */
}

.header-tiles {
  grid-column: 1 / -1;
  /* border: 2px solid blue; */
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #ddd;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.tile:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.tile-header {
  /* border: 1px solid red; */
}

.tile-description {
  /* border: 1px solid blue; */
}

.tile-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius);
  /* border: 1px solid red; */
}

.tile-added-info {
  /* border: 1px solid blue; */
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(216, 216, 216);
  /* border: 2px solid green; */
}

.navbar-footer {
  /* border: 2px solid red; */
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  list-style: none;
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-item {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-link {
  /* border: 2px solid rgb(0, 4, 255); */
  color: black;
  text-decoration: none;
}

.footer-link:visited {
  color: hsl(0, 0%, 10%);
}

.footer-legal {
  display: grid;
  grid-template-columns: auto auto;
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-version {
  /* border: 2px solid rgb(0, 4, 255); */
}

.footer-copy {
  justify-self: right;
  /* border: 2px solid rgb(0, 4, 255); */
}

.hidden {
  display: none;
}

@media (max-width: 400px) {
  body {
    border: 1px solid red;
  }
}
